@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Hind');
$purp:#d1c9fc;
$pink: #ff99cc;

$mainFont: 'Pacifico', cursive;
$minorFont:'Hind', sans-serif;
